<form action="/" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Enter a product" name="name">
    </div>
    <br>
    <div>
        <label for="price">Price</label>
        <input type="text" id="price" placeholder="Enter a price" name="price">
    </div>
    <br>
    <div>
        <label for="desc">Description</label>
        <textarea type="text" id="desc" placeholder="Enter a description" name="desc"></textarea>
    </div>
    <br>
    <button type="submit">
        Create
    </button>
</form>