<div class="m-4">
    <h1 class="mb-5">Factory</h1>
    <h2 class="mb-5">Our products</h2>
</div>
<ul class="list-group m-4">
    {{#each products}}
    <a href="/{{id}}" class="list-group-item list-group-item-action">
        {{name}} (${{price}}) 
    </a>
    {{/each}}
</ul>
<a type="button" href="/addNew" class="btn btn-info m-4">Add product</a>